body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6a2424;
}

a {
  color: #00B7FF;
}

.loginContainer{
  margin-top:200px;
  width:500px;
  height:600px;
  color:white;
}

.mn_form{
  border-radius: 5px;
}
